<h3
class="flex justify-between items-center font-semibold xl:text-lg text-md  text-blue-600 border-b pb-2 border-indigo-200 space-x-1">
  <ng-content ></ng-content>
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user ml-12 xl:ml-0 lg:ml-0" width="24" height="24"
    viewBox="0 0 24 24" stroke-width="1.5" stroke="#3679f1" fill="none" stroke-linecap="round"
    stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <circle cx="12" cy="7" r="4" />
    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
</svg>
</h3>
