<app-auth-page-layout>

    <!-- header -->
    <app-auth-header>
        Create Account
    </app-auth-header>

    <!-- form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="space-y-3 flex flex-col justify-between my-5">

            <!-- username -->
            <app-input type="text" label="username" id="username" [loading]="uniqueUserNameService.loading"
                [control]="formControls['username']"></app-input>

            <!-- password -->
            <app-input type="password" label="Password" id="password" [control]="formControls['password']">
            </app-input>

            <!-- password confirmation-->
            <app-input type="password" label="Password Confirmation" id="passwordConfirmation"
                [control]="formControls['passwordConfirmation']"></app-input>

            <!-- Password Dont Match error -->
            <ng-container *ngIf="showErrors()">
                <span class="text-red-600 fw-600 ml-1 mt-0" *ngIf="form.hasError('passwordDontMatch')">
                    please enter the same password
                </span>
            </ng-container>

            <!-- noConnection error -->
            <ng-container *ngIf="showErrors()">
                <span class="text-red-600 fw-600 ml-1 mt-0" *ngIf="form.hasError('noConnection')">
                    please check your network
                </span>
            </ng-container>

            <!-- unknownError error -->
            <ng-container *ngIf="showErrors()">
                <span class="text-red-600 fw-600 ml-1 mt-0" *ngIf="form.hasError('unknownError')">
                    There was a problem connecting with the server.
                </span>
            </ng-container>

        </div>

        <!-- submit btn -->
        <app-button class="mt-3 w-full" type="submit" [loading]="loading" innerText="SignUp" color="indigo">
        </app-button>

        <!-- signIn -->
        <div class="text-center mt-5">
            <a [routerLink]="['/signin']" class="text-slate-400 hover:text-slate-500">
                SignIn
            </a>
        </div>




    </form>

</app-auth-page-layout>
