/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fs-20px{font-size: 20px;}
.fs-22px{font-size: 22px;}
.fs-24px{font-size: 24px;}
.fs-50px{font-size: 50px;}
