<app-auth-page-layout>

    <!-- header -->
    <app-auth-header>
        Login To Email Account
    </app-auth-header>

    <!-- form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="space-y-3 flex flex-col justify-between my-5">

            <!-- userName -->
            <app-input type="text" label="UserName" id="userName" [control]="formControls['username']"></app-input>

            <!-- password -->
            <app-input type="password" label="Password" id="password" [control]="formControls['password']">
            </app-input>

            <!-- noConnection error -->
            <ng-container *ngIf="showErrors()">
                <span class="text-red-600 fw-600 ml-1 mt-0" *ngIf="form.hasError('noConnection')">
                    please check your network
                </span>
            </ng-container>

            <!-- credential error -->
            <ng-container *ngIf="showErrors()">
                <span class="text-red-600 fw-600 ml-1 mt-0" *ngIf="form.hasError('credential')">
                    userName or password is incorrect
                </span>
            </ng-container>

        </div>

        <!-- submit btn -->
        <app-button class="mt-3 w-full" type="submit" innerText="SignIn"  [loading]="loading">
        </app-button>

        <!-- signUp -->
        <div class="text-center mt-5">
            <a [routerLink]="['/signup']" class="text-slate-400 hover:text-slate-500">
                SignUp
            </a>
        </div>

    </form>

</app-auth-page-layout>
