<div class="container mx-auto px-8 h-screen flex flex-col justify-center items-center bg-slate-50">
    <div class="flex flex-col w-96 mx-auto p-8  rounded-md bg-white shadow-lg">
        <!-- title -->
        <h3
            class="flex justify-between items-center font-semibold text-xl text-pink-600 border-b pb-2 border-pink-200 space-x-1">
            Login To Email  
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fbcfe8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="7" r="4" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>
        </h3>
        <!-- form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="space-y-3 flex flex-col justify-between my-5">
                <!-- userName -->
                <div class="flex flex-col space-y-1">
                    <label for="userName" class="pl-1 text-sm text-slate-500">UserName</label>
                    <input type="text" id="userName"
                        class="border h-9 bg-slate-50 rounded outline-none focus:border-pink-300 focus:bg-pink-50"
                        formControlName="userName">
                </div>
                <!-- password -->
                <div class="flex flex-col space-y-1">
                    <label for="password" class="pl-1 text-sm text-slate-500">Password</label>
                    <input type="password" id="password"
                        class="border h-9 bg-slate-50 rounded outline-none focus:border-pink-300 focus:bg-pink-50"
                        formControlName="password">
                </div>
            </div>
            <!-- submit btn -->
            <button type="submit" class=" 
            outline-none

            flex justify-center
             bg-gradient-to-r from-pink-500 
             to-pink-700 text-white py-2 rounded-md mt-3 w-full
             hover:bg-gradient-to-l
             shadow-lg shadow-pink-500/50
             ">SignIn
            </button>

            <!-- signUp -->
            <p class="text-center mt-5">
                <a [routerLink]="['/signup']" class="text-slate-400 hover:text-slate-500">
                    SignUp
                </a>
            </p>
        </form>
    </div>
</div>