<header class="sticky mt-5 top-0 z-30 w-full px-2 py-1  sm:px-4 ">
    <div class="flex items-center justify-between mx-auto max-w-7xl">
        <a href="#">
            <h1 class="text-xl font-roboto text-white flex justify-center items-center pl-2  font-normal">
              <img src="../../../../assets/svg/angular.svg" width="50">
                Angular Email
            </h1>
        </a>
        <nav class="flex items-center space-x-1">
            <ul class="hidden space-x-2 md:inline-flex">
                    <li><a [routerLink]="'/inbox'" routerLinkActive="active"
                            class="flex justify-center text-base items-center cursor-pointer px-1 py-2  text-white rounded">
                            <i class="zmdi zmdi-inbox fs-20px pr-1"></i>
                            Inbox
                        </a>
                    </li>

                    <li><a [routerLink]="'/signout'" routerLinkActive="active"
                            class=" cursor-pointer text-base flex justify-center items-center px-1 py-2  text-white rounded">
                            <i class="zmdi  zmdi-power fs-20px pr-1"></i>
                            Sign Out
                        </a>
                    </li>
            </ul>
            <div class="inline-flex md:hidden">
                <button class="flex-none px-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                    </svg>
                    <span class="sr-only">Open Menu</span>
                </button>
                <!-- put list item -->
            </div>
        </nav>
    </div>
</header>
